body {
    margin: 0px;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.slide-wrapper {
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
}
.slide {
    display: flex;
}
.slide:hover {
    will-change: transform;
}
.slide li {
    flex-shrink: 0;
    width: 80vh;
    max-width: 800px;
    margin: 0 20px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    opacity: .8;
    transform: scale(.7);
    transition: .4s;
}
.slide li.active {
    opacity: 1;
    transform: scale(1);
}
/*button prev e next*/

.arrow-nav {
    
}
